<div class="image-aboutus-banner" >
    <!-- style="margin-top:70px" -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">{{title}}</h1>
                <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>


<div class="aboutus-area">
    <div class="container" *ngFor="let item of digitizedata">

        <div class="col-xs-12 main">
            <div class="row" >
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus-image float-left hidden-sm" *ngFor="let img of item.img">
                      <img [src]="img" alt="" class="w-100">
                      <!-- <img src="../../../assets/img/calendar/calendar.jpg" alt="" class="w-100"> -->
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" *ngFor="let img of item.list">
                    <div class="aboutus-content ">
                        <h2>
                            <p><span>{{title}}</span></p>
                            The  <span> {{img.title}}</span>
                        </h2>

                        <p>{{img.description}}</p>
                        <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p> -->


                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-12 main" id="Standard-Cut">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus-image float-left hidden-sm">
                      <img src="../../../assets/img/Binding/01102.webp" alt="" class="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus-content ">
                        <h2>
                            <p><span>WELCOME TO ABEDESIGNS</span></p>
                            I'M The Best <span>Web Developer</span>
                        </h2>

                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large language ocean.</p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

                        <div class="counter ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>15</span></h2>
                                    <p>YEARS OF EXPERIENCED</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>100</span></h2>
                                    <p>WEBSITES COMPLETED</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>5</span></h2>
                                    <p>AWARDS WON</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>10</span></h2>
                                    <p>CLIENTS</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus-image float-left hidden-sm">
                      <img src="../../../assets/img/Binding/01102.webp" alt="" class="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus-content ">
                        <h2>
                            <p><span>WELCOME TO ABEDESIGNS</span></p>
                            I'M The Best <span>Web Developer</span>
                        </h2>

                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large language ocean.</p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

                        <div class="counter ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>15</span></h2>
                                    <p>YEARS OF EXPERIENCED</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>100</span></h2>
                                    <p>WEBSITES COMPLETED</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>5</span></h2>
                                    <p>AWARDS WON</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>10</span></h2>
                                    <p>CLIENTS</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus-image float-left hidden-sm">
                      <img src="../../../assets/img/Binding/01102.webp" alt="" class="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus-content ">
                        <h2>
                            <p><span>WELCOME TO ABEDESIGNS</span></p>
                            I'M The Best <span>Web Developer</span>
                        </h2>

                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large language ocean.</p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

                        <div class="counter ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>15</span></h2>
                                    <p>YEARS OF EXPERIENCED</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>100</span></h2>
                                    <p>WEBSITES COMPLETED</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>5</span></h2>
                                    <p>AWARDS WON</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>10</span></h2>
                                    <p>CLIENTS</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus-image float-left hidden-sm">
                      <img src="../../../assets/img/Binding/01102.webp" alt="" class="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus-content ">
                        <h2>
                            <p><span>WELCOME TO ABEDESIGNS</span></p>
                            I'M The Best <span>Web Developer</span>
                        </h2>

                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large language ocean.</p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

                        <div class="counter ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>15</span></h2>
                                    <p>YEARS OF EXPERIENCED</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>100</span></h2>
                                    <p>WEBSITES COMPLETED</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>5</span></h2>
                                    <p>AWARDS WON</p>
                                </div>

                                <div class="single-counter text-center">
                                    <h2 class="counter"><span>10</span></h2>
                                    <p>CLIENTS</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>