.main{
  background: #f0576454;
  padding: 4.4em 0px 6em 0em
}
h1
{
	color:#fff;
	margin:40px 0 60px 0;
	font-weight:300;
}

.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;

}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
    padding: 125px 10px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-300px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}


h1, h2, h3, h4, h5, h6 {
    color: #2c3145;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section_all {
    position: relative;
    padding-top: 25px;
    padding-bottom: 15px;
    min-height: 100vh;
}
.section-title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.section-subtitle {
    letter-spacing: 0.4px;
    line-height: 28px;
    max-width: 550px;
}

.section-title-border {
    background-color: #000;
    height: 1 3px;
    width: 44px;
}

.section-title-border-white {
    background-color: #fff;
    height: 2px;
    width: 100px;
}
.text_custom {
    color: #00bd2a;
}

.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #00bd2a;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 28px;
}

.styDiv{
	box-shadow: 0 1px 2px #03363f66, 0 -1px 2px #03363f0a;
    border-radius: 13px;
    padding: 15px;
    margin: 10px;
}
.algintxt{
	text-align: justify;
}
h5{
	text-align: center!important;
}
.styp{
    text-align: center;
    color: #f05764;
    font-weight: 700;
    font-size: 26px;
}
.styp1{
	text-align: center;
}
.row{
	margin: 45px 0px;
}


.aboutSty{
  padding-top: 85px;
}






.tab {
    --tab-padding: 1.25rem;
    --tab-bg:#f0576473;
    --tab-active-bg: #fff;
  
    input {
      display: none;
      
      &:checked + label {
        background-color: var(--tab-active-bg);
        color: #000;
      }
      
      &:not(:checked) + label + * {
        display: none;
      }
    }
    
    label {
      color: #fff;
      cursor: pointer;
      padding: var(--tab-padding);
      
      @media (max-width: 575px) {
        width: 100%;
      }
    }
    
    &-wrapper{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border-radius: 5px;
      background-color: var(--tab-bg);
      box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1) , 0px 4px 6px -2px rgba(0,0,0,0.05);
    }
    
    &-content {
      width: 100%;
      padding: var(--tab-padding);
      background-color: var(--tab-active-bg);
      
      @media (min-width: 576px) {
        order: 9999;
      }
    }
  }
  
  // Solo Demo

  
  .demo {
      max-width: 100%;
  }



  