
<section class="section_all bg-light" id="about">
  <div class="container">
     

      <div class="row vertical_content_manage mt-5 ">
          <div class="col-lg-6">
              <div class="about_header_main algintxt aboutSty">
                 
                  <h4 class="about_heading text-capitalize font-weight-bold mt-4">About Us</h4>
                  <p class="text-muted algintxt algintxt">DIGITIZE GRAPHICS SOLUTIONS L.L.C is a leading provider of corporate gifts, large format printing, offset printing, and digital printing services. We have been in the industry for several years, and our experience has allowed us to build a strong reputation for delivering high-quality products and services to our clients.</p>
                 
              </div>
          </div>
          <div class="col-lg-6">
              <div class="img_about algintxt">
                  <img src="https://i.ibb.co/qpz1hvM/About-us.jpg" alt="" class="img-fluid mx-auto d-block">
              </div>
          </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-3">
          <div class="styDiv">
          <h5>Corporate Gifts</h5>
          <p class="text-muted algintxt">We specialize in providing customized corporate gifts that are perfect for any occasion. From branded pens and stationery to tech gadgets and apparel, we offer a wide range of options to suit your needs. Our team works closely with you to understand your requirements and create a unique gift that reflects your brand and message.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="styDiv">
          <h5>Large Format Printing</h5>
          <p class="text-muted algintxt">Our large format printing services are ideal for businesses that need to create eye-catching displays for events, tradeshows, and storefronts. We use state-of-the-art technology and high-quality materials to produce large format prints that are vibrant, durable, and long-lasting. Whether you need banners, posters, or signage, we’ve got you covered.</p>
               </div>  
        </div>
        <div class="col-md-3">
          <div class="styDiv">
          <h5>Offset Printing</h5>
          <p class="text-muted algintxt">Our offset printing services are perfect for businesses that require high-volume printing of marketing materials such as brochures, flyers, and catalogues. We use the latest printing technology and premium quality paper to produce prints that are sharp, clear, and professional-looking. We also offer a range of finishing options to give your prints a polished and refined look.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="styDiv">
          <h5>Digital Printing</h5>
          <p class="text-muted algintxt">Our digital printing services are ideal for businesses that need to print small to medium-sized quantities of marketing materials such as business cards, postcards, and flyers. We use high-quality digital printers that produce prints that are sharp, clear, and vibrant. Our team can also help you design your prints to ensure that they are visually appealing and effective in conveying your message.</p>
               </div>  
        </div> -->
        <!--team-1-->
<div class="col-lg-3">
  <div class="our-team-main">
  
  <div class="team-front">
  <img src="http://placehold.it/110x110/9c27b0/fff?text=Dilip" class="img-fluid" />
  <h3>Corporate Gifts</h3>

  </div>
  
  <div class="team-back">
  <span>
    We specialize in providing customized corporate gifts that are perfect for any occasion. From branded pens and stationery to tech gadgets and apparel, we offer a wide range of options to suit your needs. Our team works closely with you to understand your requirements and create a unique gift that reflects your brand and message.
  </span>
  </div>
  
  </div>
  </div>
  <!--team-1-->
  
  <!--team-2-->
  <div class="col-lg-3">
  <div class="our-team-main">
  
  <div class="team-front">
  <img src="http://placehold.it/110x110/336699/fff?text=Dilip" class="img-fluid" />
  <h3>Large Format Printing</h3>
  </div>
  
  <div class="team-back">
  <span>
    Our large format printing services are ideal for businesses that need to create eye-catching displays for events, tradeshows, and storefronts. We use state-of-the-art technology and high-quality materials to produce large format prints that are vibrant, durable, and long-lasting. Whether you need banners, posters, or signage, we’ve got you covered.
  </span>
  </div>
  
  </div>
  </div>
  <!--team-2-->
  
  <!--team-3-->
  <div class="col-lg-3">
  <div class="our-team-main">
  
  <div class="team-front">
  <img src="http://placehold.it/110x110/607d8b/fff?text=Dilip" class="img-fluid" />
  <h3>Offset Printing</h3>
  </div>
  
  <div class="team-back">
  <span>
    Our offset printing services are perfect for businesses that require high-volume printing of marketing materials such as brochures, flyers, and catalogues. We use the latest printing technology and premium quality paper to produce prints that are sharp, clear, and professional-looking. We also offer a range of finishing options to give your prints a polished and refined look.
  </span>
  </div>
  
  </div>
  </div>
  <!--team-3-->
  
  <!--team-4-->
  <div class="col-lg-3">
  <div class="our-team-main">
  
  <div class="team-front">
  <img src="http://placehold.it/110x110/4caf50/fff?text=Dilip" class="img-fluid" />
  <h3>Digital Printing</h3>
  </div>
  
  <div class="team-back">
  <span>
    Our digital printing services are ideal for businesses that need to print small to medium-sized quantities of marketing materials such as business cards, postcards, and flyers. We use high-quality digital printers that produce prints that are sharp, clear, and vibrant. Our team can also help you design your prints to ensure that they are visually appealing and effective in conveying your message.
  </span>
  </div>
  
  </div>
  </div>
  <!--team-4-->
      </div>
    </div>
    </section>
  <section>
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-12">
          <div class="">
              <h4 style="margin-bottom: 25px;">OUR VISION</h4>
              <p><i class="fa fa-check" aria-hidden="true"></i> To meet the needs of our customers with our instant delivery services.</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> To provide high quality corporate gifts to our customers and ensuring customer satisfaction</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> To create a corporate gifting ecosystem that is a one stop solution and making gifting a delightful experience.</p>
          </div>
        </div> -->
      </div>
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <p class="styp">12,000+</p>
        <p class="styp1">CUSTOMERS</p>
      </div>
      <div class="col-md-2">
        <p class="styp">130+</p>
        <p class="styp1">TEAM MEMBERS</p>
      </div>
      <div class="col-md-2">
        <p class="styp">12HR</p>
        <p class="styp1">SUPPORT AVAILABLE</p>
      </div>
      <div class="col-md-2">
        <p class="styp">265+</p>
        <p class="styp1">CUP OF COFFEE</p>
      </div>
      <div class="col-md-2">
        <p class="styp">99%</p>
        <p class="styp1">POSITIVE REVIEWS</p>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="demo">
          <div class="tab">
            <div class="tab-wrapper">
              <!-- Tab 1 -->
              <input id="tab1" type="radio" name="tabsA" checked>
              <label for="tab1">OUR VISION</label>
              <div class="tab-content"> <p><i class="fa fa-check" aria-hidden="true"></i> To meet the needs of our customers with our instant delivery services.</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> To provide high quality corporate gifts to our customers and ensuring customer satisfaction</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> To create a corporate gifting ecosystem that is a one stop solution and making gifting a delightful experience.</p></div>
        
              <!-- Tab 2 -->
              <input id="tab2" type="radio" name="tabsA">
              <label class="tab-button" for="tab2">WHY CHOOSE US</label>
              <div class="tab-content"><p><i class="fa fa-check" aria-hidden="true"></i> We are in the industry since 2004.</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Excellent track record</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> All branding done in-house  with fast delivery</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Wide range of products to choose from</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Read stock available for large quantities</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Choose from 5000+ promotional gifts and brand it right away</p></div>
        
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      <section class="section_all bg-light d-none">
        <div class="container">
        <div class="row">
          <!-- <div class="col-md-12">
            <div class="">
                <h4 style="margin-bottom: 25px;">WHY CHOOSE US</h4>
                <p><i class="fa fa-check" aria-hidden="true"></i> We are in the industry since 2004.</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Excellent track record</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> All branding done in-house  with fast delivery</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Wide range of products to choose from</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Read stock available for large quantities</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Choose from 5000+ promotional gifts and brand it right away</p>
            </div>
          </div> -->
        </div>
  
        <div class="row">
            <div class="col-lg-4">
                <div class="about_content_box_all algintxt">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                          <i class="fa fa-truck" aria-hidden="true"></i>
                        </div>
                        <h5 class="text-dark text-capitalize algintxt font-weight-bold">On time Delivery</h5>
                        <!-- <p class="edu_desc algintxt mb-0 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> -->
                    </div>
                </div>
            </div>
  
            <div class="col-lg-4">
                <div class="about_content_box_all algintxt">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                          <i class="fa fa-usd" aria-hidden="true"></i>
                        </div>
                        <h5 class="text-dark text-capitalize algintxt font-weight-bold">100% Quality Guarantee .</h5>
                        <!-- <p class="edu_desc mb-0 algintxt text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> -->
                    </div>
                </div>
            </div>
  
            <div class="col-lg-4">
                <div class="about_content_box_all algintxt">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                          <i class="fa fa-comments" aria-hidden="true"></i>
                        </div>
                        <h5 class="text-dark text-capitalize algintxt font-weight-bold">Excellent Client Support</h5>
                        <!-- <p class="edu_desc mb-0 algintxt text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> -->
                    </div>
                </div>
            </div>
        </div>
        </div>
      </section>
     

<div class="main d-none">

  <h1 class="text-center">Team Design Section with Pure CSS Effect</h1>


<div class="container">
<div class="row">

<!--team-1-->
<div class="col-lg-3">
<div class="our-team-main">

<div class="team-front">
<img src="http://placehold.it/110x110/9c27b0/fff?text=Dilip" class="img-fluid" />
<h3>Dilip Kevat</h3>
<p>Web Designer</p>
</div>

<div class="team-back">
<span>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque penatibus et magnis dis parturient montes,
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque.
</span>
</div>

</div>
</div>
<!--team-1-->

<!--team-2-->
<div class="col-lg-3">
<div class="our-team-main">

<div class="team-front">
<img src="http://placehold.it/110x110/336699/fff?text=Dilip" class="img-fluid" />
<h3>Dilip Kevat</h3>
<p>Web Designer</p>
</div>

<div class="team-back">
<span>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque penatibus et magnis dis parturient montes,
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque.
</span>
</div>

</div>
</div>
<!--team-2-->

<!--team-3-->
<div class="col-lg-3">
<div class="our-team-main">

<div class="team-front">
<img src="http://placehold.it/110x110/607d8b/fff?text=Dilip" class="img-fluid" />
<h3>Dilip Kevat</h3>
<p>Web Designer</p>
</div>

<div class="team-back">
<span>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque penatibus et magnis dis parturient montes,
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque.
</span>
</div>

</div>
</div>
<!--team-3-->

<!--team-4-->
<div class="col-lg-3">
<div class="our-team-main">

<div class="team-front">
<img src="http://placehold.it/110x110/4caf50/fff?text=Dilip" class="img-fluid" />
<h3>Dilip Kevat</h3>
<p>Web Designer</p>
</div>

<div class="team-back">
<span>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque penatibus et magnis dis parturient montes,
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque.
</span>
</div>

</div>
</div>
<!--team-4-->

<!--team-5-->
<div class="col-lg-4">
<div class="our-team-main">

<div class="team-front">
<img src="http://placehold.it/110x110/e91e63/fff?text=Dilip" class="img-fluid" />
<h3>Dilip Kevat</h3>
<p>Web Designer</p>
</div>

<div class="team-back">
<span>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque penatibus et magnis dis parturient montes,
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque.
</span>
</div>

</div>
</div>
<!--team-5-->

<!--team-6-->
<div class="col-lg-4">
<div class="our-team-main">

<div class="team-front">
<img src="http://placehold.it/110x110/2196f3/fff?text=Dilip" class="img-fluid" />
<h3>Dilip Kevat</h3>
<p>Web Designer</p>
</div>

<div class="team-back">
<span>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque penatibus et magnis dis parturient montes,
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
natoque.
</span>
</div>

</div>
</div>
<!--team-6-->



</div>
</div>

</div>