<div class="image-aboutus-banner">
    <!-- style="margin-top:70px" -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text ">{{title}}</h1>
                <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>


<!-- </div> -->

<div class="container">
  <div class="row" >
    <div class="swiper-container mySwiper">
      
      <div class="swiper-wrapper">
        <div class="swiper-slide"  *ngFor="let item of bindingdata" >
          <img [src]="item.img" />
          <h4>{{ item.title }}</h4>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
   
  </div>
  <button class="btn btn-primary list-btn" (click)="EnquiryNow()">Enquire Now</button>
</div>

<!-- <div class="swiper-container mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let item of bindingdata">
      <img [src]="item" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div> -->
