.aboutus-area {
    padding-top: 4em;
    padding-bottom: 4em;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background: black !important;
    margin: 10px;
}

/*-- aboutus Image --*/
.aboutus-image {
    margin: 0px;
    width: 100%;
}
.listmain{
  padding: 90px 0px;
}
.listmain h3{
    color: #f05764;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .aboutus-image {
        margin-right: 35px;
        width: 345px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .aboutus-image {
        margin-bottom: 30px;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .aboutus-image {
        margin-bottom: 30px;
        margin-right: 0;
        float: none;
        width: auto;
    }

    .hidden-sm {
        display: block !important;
        width: 340px;
        height: 85%;
    }
}

.aboutus-image img {
    height: 100%;
    width: 100%;
}

/*-- aboutus Content --*/
.aboutus-content h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 2px;
}

@media only screen and (max-width: 479px) {
    .aboutus-content h2 {
        font-size: 30px;
        line-height: 30px;
    }
}

.aboutus-content h2 span {
    color: #71b100;
}

.aboutus-content h4 {
    font-size: 18px;
    font-weight: 500;
    color: #9b9b9b;
    margin-bottom: 23px;
}

.aboutus-content p {
    font-size: 16px;
    line-height: 27px;
}

/*-- counter --*/
.single-counter {
    border: none;
    margin-top: 32px;
    float: left;
    width: 100%;
}

.single-counter {
    float: left;
    width: 25%;
    padding: 28px 15px 28px;
}

@media only screen and (max-width: 767px) {
    .counter .single-counter {
        width: 50%;
    }

    .counter .single-counter+.single-counter {
        border-left: none
    }

    .counter .single-counter h2 {
        font-size: 30px;
        color: #71b100;
        line-height: 24px;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 8px;
    }

    .counter .single-counter p {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        color: #8f8f8f;
    }
}

.image-aboutus-banner {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../../../assets/img/background/david-van-dijk-3LTht2nxd34-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 4.3em;
}

.image-aboutus-sm-banner {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../../../assets/img/background/david-van-dijk-3LTht2nxd34-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lg-text {
    font-size: 52px;
    font-weight: 600;
    text-transform: none;
    color: #fff;
}

.image-aboutus-para {
    color: #fff;
}

.main {
    padding-top: 3em;
    padding-bottom: 3em;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.container,
.col-md-12 {
    max-width: 1200px;
    /* Adjust this value based on your design */
    margin: 0 auto;
    /* Center the container */
}

.container {
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

.swiper-container {
    width: 100%;
    /* Ensures it takes the width of its parent */
}

.list-btn {
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 35px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.btn-primary {
    color: #fff;
    background-color: rgba(240, 87, 100, 0.5019607843);
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 8px 20px;
    min-width: 150px;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.btn-primary:hover {
    -webkit-box-shadow: 0 5px 9px -4px rgba(240, 87, 100, 0.5019607843);
    box-shadow: 0 5px 9px -4px rgba(240, 87, 100, 0.5019607843);
    background-color: rgba(240, 87, 100, 0.768);
}

.btn-primary:focus {
    background-color: rgba(240, 87, 100, 0.5019607843);
    -webkit-box-shadow: 0 5px 9px -4px rgba(240, 87, 100, 0.5019607843);
    box-shadow: 0 5px 9px -4px rgba(240, 87, 100, 0.5019607843);
}


.list-btn {
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 35px;
    margin-bottom: 1em;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.white-panel {
    // position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

/*
  stylize any heading tags withing white-panel below
  */

.white-panel h1 {
    font-size: 1em;
}

.white-panel h1 a {
    color: #A92733;
}

.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.image-aboutus-banner {
    background: linear-gradient(#000000b3, #000000b3), url(../../../assets/img/banner/flag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
    margin-top: 4.3em;
}

.image-aboutus-sm-banner {
    background: linear-gradient(#000000b3, #000000b3), url(../../../assets/img/banner/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lg-text {
    font-size: 52px;
    font-weight: 600;
    text-transform: none;
    color: #fff;
}

.image-aboutus-para {
    color: #fff;
}

.main h4 {
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 12px 12px;
}

.note h4 {
    font-size: 18px;
}

.note ul li {
    padding: 5px 15px;
    list-style: lower-roman;
    font-size: 16px;
}

.btn-primary {
    color: #fff;
    background-color: rgba(240, 87, 100, 0.5019607843);
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 12px 20px;
    min-width: 150px;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.btn-primary:hover {
    -webkit-box-shadow: 0 5px 9px -4px rgb(0 0 255 / 65%);
    box-shadow: 0 5px 9px -4px rgb(0 0 255 / 65%);
}

@media(max-width: 574px) {
    .main {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .image-aboutus-banner {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .lg-text {
        font-size: 30px;

    }
    .bnr{
        text-align: justify;
        font-size: 14px;
    }
}
