<div class="image-aboutus-banner">
    <!-- style="margin-top:70px" -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text ">{{title}}</h1>
                <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>


<!-- </div> -->

<div class="container">
  <div class="row">
    <div class="swiper-container mySwiper">
      <h4>Perfect Binding</h4>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of bindingdata">
          <img [src]="item" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<!-- <div class="swiper-container mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let item of bindingdata">
      <img [src]="item" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div> -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.mySwiper', {
    pagination: {
      el: '.swiper-pagination',
    },
    slidesPerView: 1,
    spaceBetween: 10,
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 40,
      },
    }
  });
</script>