<div class="image-aboutus-banner" >
    <!-- style="margin-top:70px" -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">{{title}}</h1>
                <!-- <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
            </div>
        </div>
    </div>
</div>


<div class="aboutus-area">
    <div class="container" *ngFor="let item of digitizedata">

        <div class="col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus-image float-left hidden-sm">
                     
                      <!-- <img src="../../../assets/img/window/window.png" alt="" class=""> -->
                      <swiper [loop]="false" [allowTouchMove]="true" [autoplay]="{ delay: 3000, disableOnInteraction: false }"
                      [pagination]="{ clickable: true }" [navigation]="true">
                      <ng-template data-swiper-autoplay="6000" swiperSlide *ngFor="let img of item.img">
                        <img [src]="img" alt="" class="w-100 swp">
                        <!-- <img src="../../assets/img/banner/banner.jpg" alt="img" class="swp" class="w-100"> -->
                      </ng-template>
                      </swiper>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12"  *ngFor="let img of item.list">
                    <div class="aboutus-content ">
                        <h2>
                            <p><span>{{title}}</span></p>
                            The <span> {{img.title}}</span>
                        </h2>
                        <div class="content" [innerHTML]="img.description">

                        </div>
                        
                        <div class="counter ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary list-btn" (click)="EnquiryNow()">Enquire Now</button>
</div>
