<div class="contact-form">
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn-close btn-primary"></button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
  </mat-dialog-actions>
  <!-- <span class="circle one"></span>
  <span class="circle two"></span> -->

  <!-- <form (ngSubmit)="submitForm()" #contactForm="ngForm"> -->
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h3 class="title">Inquiry Form</h3>
    

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter your Name</mat-label>
      <input type="hidden" id="webUrl" name="webUrl" value="">
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error class="help-block form-error text-danger small"
          *ngIf="contactForm.get('name').hasError('required') && contactForm.get('name').touched">
          Name is Required
      </mat-error>

      <!-- Corrected to check 'pattern' error -->
      <mat-error class="help-block form-error text-danger small"
            *ngIf="contactForm.get('name').hasError('pattern') && contactForm.get('name').touched">
      Invalid Name
      </mat-error>
    </mat-form-field>


   

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@gmail.com" formControlName="email" required>
      <mat-error class="help-block form-error text-danger small"
      *ngIf="contactForm.get('email').hasError('required') && contactForm.get('email').touched">
      Email is Required
</mat-error>

<!-- Corrected to check 'pattern' error -->
<mat-error class="help-block form-error text-danger small"
      *ngIf="contactForm.get('email').hasError('pattern') && contactForm.get('email').touched">
Invalid E-mail
</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter your Number</mat-label>
      <input matInput placeholder="9999999999" formControlName="phone" required maxlength="10">
      <mat-error class="help-block form-error text-danger small"
      *ngIf="contactForm.get('phone').hasError('required') && contactForm.get('phone').touched">
      Number is Required
</mat-error>

<!-- Corrected to check 'pattern' error -->
<mat-error class="help-block form-error text-danger small"
      *ngIf="contactForm.get('phone').hasError('pattern') && contactForm.get('phone').touched">
Invalid Number
</mat-error>
    </mat-form-field>
    <div class="input-container">
      <input type="text" name="requirement" placeholder="Regarding Item" formControlName="requirement" class="input" required/>
      <!-- <label for="">Regarding Item</label>
     <span>Regarding Item</span> -->
     <div *ngIf="contactForm.get('requirement').invalid && contactForm.get('requirement').touched" class="error">
      Regarding Item is required
    </div>
    </div>
    <div class="input-container textarea">
      <textarea name="message" placeholder="Message" formControlName="message" class="input"></textarea>
      <!-- <label for="">Message</label>
      <span>Message</span> -->
      <div *ngIf="contactForm.get('message').invalid && contactForm.get('message').touched" class="error">
        Message is required
      </div>
    </div>
    <button type="submit" [disabled]="!contactForm.valid"  class="btn btn-primary">Submit</button>
  </form>
</div>
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->

