<div class="contact-form">
  <span class="circle one"></span>
  <span class="circle two"></span>
  
  <!-- <form (ngSubmit)="submitForm()" #contactForm="ngForm"> -->
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h3 class="title">Inquiry Form</h3>
    <div class="input-container">
      <input type="text" name="name" formControlName="name" class="input" required/>
      <label for="">Username</label>
     <span>Username</span>
     <div *ngIf="contactForm.get('name').invalid && contactForm.get('name').touched" class="error">
      Name is required
    </div>
    </div>
    <div class="input-container">
      <input type="email" name="email" formControlName="email" class="input" required/>
      <label for="">Email</label>
      <span>Email</span>
      <div *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched" class="error">
        Please enter a valid email address
      </div>
    </div>
    <div class="input-container"> 
      <input type="tel" name="phone" formControlName="phone" class="input" required/>
      <label for="">Phone</label>
      <span>Phone</span>
      <div *ngIf="contactForm.get('phone').invalid && contactForm.get('phone').touched" class="error">
        Message is required
      </div>
    </div>
    <div class="input-container">
      <input type="text" name="requirement" formControlName="requirement" class="input" required/>
      <label for="">Regarding Item</label>
     <span>Regarding Item</span>
     <div *ngIf="contactForm.get('name').invalid && contactForm.get('name').touched" class="error">
      Regarding Item is required
    </div>
    </div>
    <div class="input-container textarea">
      <textarea name="message" formControlName="message" class="input"></textarea>
      <label for="">Message</label>
      <span>Message</span>
      <div *ngIf="contactForm.get('message').invalid && contactForm.get('message').touched" class="error">
        Message is required
      </div>
    </div>
    <button type="submit" [disabled]="!contactForm.valid"  class="btn btn-primary">Submit</button>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
