.privacy{
    padding-top:90px;
    padding-bottom: 90px;
    }
    .privacy h1{
        text-align: center;
        padding: 10px 0px;
    }
    .privacy p{
        text-align: justify;
        font-size: 18px;
    }