<div class="container privacy" [@fadeInOut]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">
    <div class="row">
        <div class="col-md-12">
            <h1>Terms</h1>
            <h4>Terms and Conditions of Use</h4>
            <p>It's crucial that you read and fully comprehend this entire document.</p>
            <h4>Price and Payment Methods</h4>
            <p><strong>Prices:</strong> All prices are listed in United Arab Emirates Dirham (AED).
                <br><br>
                <strong>Payment Options:</strong> You can pay by credit card, bank deposit, or cash on delivery.
                <strong>Bank Deposit Payments:</strong>  Proof of payment must be uploaded via email before we can proceed with printing. Bank or wire transfers, whether local or international, may take a few days to appear on the bank statement. Production will only begin once payment is received.
                <strong>Cheque Payments:</strong> In the event of a bounced cheque, a penalty of 200 AED will be charged.
            </p>
            <h4>VAT</h4>
            <p><strong>Implementation:</strong> Starting January 1, 2018, the UAE has introduced VAT at a standard rate of 5% on goods and services.
                <br>
                <br>
                <strong>Updating VAT Details:</strong> You can update your VAT details by sending the necessary documents via email. These details will then be reflected in your invoice.
            </p>
            <h4>Proofs and Artworks</h4>
            <p>If Digitize Graphics Solutions LLC provides a proof of design or artwork to the client, the client is responsible for reviewing and correcting any errors before the order is finalized. Digitize Graphics Solutions LLC will not be held accountable for any errors in the proof or artwork that were not corrected by the client prior to completion.</p>
           <h4>Cancellations and Refunds</h4>
            <p><strong>Cancellation Fee:</strong> Every order is subject to a cancellation fee, which is either 10% of the order amount or AED 200, whichever is less. This fee covers the prepress costs related to your order.
                <br>
                <br>
                <strong>Credit Card Orders:</strong> Orders paid by credit card will incur a processing fee charged by the credit card portal. Therefore, if you cancel an order paid by credit card, the full amount cannot be refunded. Refunds may take up to 7 business days to process.
                <br><br>
                <strong>Order Modification and Cancellation:</strong> Clients have the right to cancel or modify an order as long as production has not started.
                <br><br>
                <strong>Charges for Work and Materials:</strong> Digitize Graphics Solutions LLC reserves the right to charge for any work already completed (whether finished or not) and for materials purchased for the customer.
                <br><br>
                <strong>Insolvency and Bankruptcy:</strong> If the client ceases to pay its debts in the ordinary course of business, cannot pay its debts as they become due, files for bankruptcy, or is subject to an involuntary bankruptcy petition, Digitize Graphics Solutions LLC reserves the right to halt the contract or any other work for the client, without prejudice to other remedies.
            </p>
            <h4>Non-Payment and Retention of Ownership</h4>
            <p>Until the client has paid all outstanding amounts related to the goods:
                (a) Ownership of the goods remains with Digitize Graphics Solutions LLC and does not transfer to the client.
                (b) If the goods are in the client’s possession, the client holds the goods as a trustee for Digitize Graphics Solutions LLC and must store the goods in a manner that clearly identifies them as the property of Digitize Graphics Solutions LLC.
                </p>
            <h4>Exchange or Return of Goods</h4>
            <p><strong>Contact Customer Service:</strong> Please reach out to our Customer Service by phone or email within 7 business days of receiving your printed materials.
                <br><br>
                <strong>Production Errors and Defects:</strong> In the event of production errors or defects, we will offer to reprint your order.
                <br><br>
                <strong>Client Responsibility:</strong> Clients are responsible for fixing any errors discovered during the design process. Alternatively, you can authorize us to print as-is, or we can make necessary modifications or design adjustments for a small fee.
                <strong>Liability:</strong> Digitize Graphics Solutions LLC will not be responsible for any damages or claims incurred by you or your business due to receiving defective or incomplete printed materials, or receiving materials later than the estimated delivery date.
            </p>
            <h4>Shipping Policy</h4>
            <p><strong> Delivery Notification:</strong> Digitize Graphics Solutions LLC will notify the client when the goods are ready for collection via email or phone.
                <br><br>
                <strong>Collection:</strong> Unless otherwise agreed between Digitize Graphics Solutions LLC and the client, the client must collect the goods from Digitize Graphics Solutions LLC's premises upon receiving notification that the goods are ready for collection.
                <br><br>
                <strong>Incorrect Delivery Address:</strong> Digitize Graphics Solutions LLC will not be liable for any issues arising from incorrect or invalid delivery addresses, including multiple delivery attempts. The client will not be indemnified in such cases.
            </p>
            <h4>Quantity Delivered</h4>
            <p>Every effort will be made to deliver the correct quantity of goods. However, due to the difficulty of producing exact quantities, estimates and orders are subject to a margin of five percent over or under the specified quantity. Any overages or shortages within this margin will be charged or deducted on a run-on cost basis.</p>
            <h4>Force Majeure</h4>
            <p>Digitize Graphics Solutions LLC shall not be held liable for delays in performance due to circumstances beyond our control, including but not limited to strikes, lockouts, riots, floods, severe weather, earthquakes, fires, acts of God, acts of public enemy, epidemics, quarantine restrictions, freight embargoes, lack of transportation, government restrictions or priorities, litigation, insurrections, war, inability to procure required materials, and other such events.</p>
            <h4>Governing Law and Jurisdiction</h4>
            <p>These Terms and Conditions are governed by the laws of the Emirate of Dubai, where Digitize Graphics Solutions LLC is located. The parties agree to submit to the non-exclusive jurisdiction of the courts of the Emirate of Dubai, which may hear appeals regarding any proceedings related to these Terms and Conditions.</p>
        </div>
    </div>
</div>
