<style>
    *{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

footer .container{
    background-color: black;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.footer-col ul{
    list-style: none;
}

.footer-col h4{
    color:white;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
</style>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-col">
                <h4>FineGap</h4>
                <ul>
                    <li><a href="">Tuorials</a></li>
                    <li><a href="">Programing</a></li>
                    <li><a href="">Development</a></li>
                    <li><a href="">Technology</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-col">
                <h4>FineGap</h4>
                <ul>
                    <li><a href="">Tuorials</a></li>
                    <li><a href="">Programing</a></li>
                    <li><a href="">Development</a></li>
                    <li><a href="">Technology</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-col">
                <h4>FineGap</h4>
                <ul>
                    <li><a href="">Tuorials</a></li>
                    <li><a href="">Programing</a></li>
                    <li><a href="">Development</a></li>
                    <li><a href="">Technology</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-col">
                <h4>FineGap</h4>
                <ul>
                    <li><a href="">Tuorials</a></li>
                    <li><a href="">Programing</a></li>
                    <li><a href="">Development</a></li>
                    <li><a href="">Technology</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
