<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- <div class="footer-col">
                <h4>DELUXE PRINTING</h4>
                <h5 style="color: #bbbbbb;">Sales Office</h5>
                <p style="color: #bbbbbb;">Al-Murar, Deira, Dubai - UAE</p>
                <a href="https://goo.gl/maps/cuR6qUgpFU5S4CYp7" target="_blank" class="btn btn-template-main"><i class="fa fa-map-marker"></i> Sales Office Location</a>
                 <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
                <h4 style="margin-top:25px">DELUXE ADVERTISING</h4>
                <h5 style="color: #bbbbbb;">Factory</h5>
                <p style="color: #bbbbbb;">Al Qusais Industrial Area 2, Dubai - UAE</p>
                <a href="https://goo.gl/maps/WK1QCAEaXS7BHknr9" target="_blank" class="btn btn-template-main"><i class="fa fa-map-marker"></i> Factory Location</a>
            </div> -->
            <div class="footer-col">
                <h4>CONTACT US</h4>
                <ul>
                    <li> <a href="mailto:sales@dgsuae.com"><i class="fa fa-envelope"></i>sales&commat;dgsuae.com</a></li>
                    <li> <a href="tel:+971563200415"><i class="fa fa-phone"></i>  +971563200415</a></li>

                </ul>
                <h4 style="margin-top: 25px;">follow us</h4>
                <div class="social-links">
                    <a role="button"><i class="fab fa-facebook-f"></i></a>
                    <a role="button"><i class="fab fa-twitter"></i></a>
                    <a role="button"><i class="fab fa-instagram"></i></a>
                    <a role="button"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>QUICK LINKS</h4>
                <ul>
                    <!-- <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li> -->
                    <li><a (click)="navigate('/Contact')">Contact Us</a></li>
                    <!-- <li><a href="#">Printing Services</a></li> -->
                    <!-- <li><a href="#">Blogs</a></li>
                    <li><a href="#">Careers</a></li> -->
                    <li><a routerLink="terms">Terms & Conditions</a></li>
                    <li><a routerLink="privacy-policy">Privacy</a></li>
                   <li><a mat-button  class="btn-enquiry " (click)="openDialog()">Enquire Now</a></li>
                </ul>
            </div>
            <div class="footer-col mob">
                <!-- <h4>Subscribe Us</h4>
                <div class="social-links">
                   <input type="text" class="form-control textboxsty" name="" id="" placeholder="Email Id">
                    <input type="submit" value="Subscribe Now" class="btn btn-template-main">
                </div> -->
                <h4 style="">WORKING HOURS</h4>
                <ul>
                    <li>9:00 am to 1:00 pm</li>
                    <li>2:00 pm to 6:00 pm</li>
                    <li>1:00 pm to 2:00 pm (Lunch Break)</li>
                    <li>Monday to Saturday</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <a href="https://api.whatsapp.com/send/?phone=+971563200415&amp;text=Hello+Digitize&amp;app_absent=0" class="floatright color-white" target="_blank">
        <i class="fa fa-whatsapp my-floatright"></i>
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
    </a> -->

        <a target="_blank" href="https://web.whatsapp.com/send?phone=971563200415&amp;text=" rel="noreferrer" class="floatright color-white nofocus  whatsapp-desk">
            <i class="fab fa-whatsapp" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=971563200415&amp;text=" rel="noreferrer" class="floatright color-white nofocus whatsapp ">
            <i class="fab fa-whatsapp" aria-hidden="true"></i>
        </a>
</footer>
<div>
   <p class="copy">&copy; 2021-{{currentdate|date:'yyyy'}} - Digitize Graphis Solutions All Rights Reserved</p>
</div>
