/* You can add global styles to this file, and also import other style files */
// @import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    cursor: pointer;
}

.btn-primary:hover {
    -webkit-box-shadow: 0 5px 9px -4px rgba(240, 87, 100, 0.5019607843);
    box-shadow: 0 5px 9px -4px rgba(240, 87, 100, 0.5019607843);
    background-color: rgba(240, 87, 100, 0.768);
}

.btn-primary:focus {
    background-color: rgba(240, 87, 100, 0.5019607843);
    -webkit-box-shadow: 0 5px 9px -4px rgba(240, 87, 100, 0.5019607843);
    box-shadow: 0 5px 9px -4px rgba(240, 87, 100, 0.5019607843);
}

.content ul {
    list-style: none;
    padding: 0px !important;
}

.content ul li {
  padding-bottom: 8px;
  padding-top: 10px;
  line-height: 18px;
}
