<nav class="navbar navbar-expand-lg navbar-dark bg-dark" [@slideInOut]>
    <div class="container">
      <a class="navbar-brand" routerLink="/"> <img src="../../../assets/img/logo/Digitize-Logo-svg.svg" alt=""></a>
      <button class="navbar-toggler" type="button" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav" [class.show]="isMenuOpen">
        <ul class="navbar-nav mr-auto navbar-right">
          <li class="nav-item">
            <a class="nav-link" routerLink="" (click)="toggleMenu()">Home</a>
          </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Saohkha Acoustics
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"routerLink="Soundproofing-And-Acoustic-Treatment">Soundproofing & Acoustic Treatment</a></li>
            <li><a class="dropdown-item"routerLink="Areas">Areas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="Expertise">Expertise</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Soundproofing & Acoustic Treatment</a>
        </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Areas</a>
          </li> -->

          <!-- <li  class="nav-item">
            <a routerLink="Consultation-Installation" class="nav-link">A/V Consultation & Installation</a>
          </li> -->
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Print & Marketing
            </a> -->
            <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" [matMenuTriggerFor]="print">Print & Marketing</a>
            <!-- <mat-menu #print="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
              <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
            </mat-menu> -->
            <mat-menu #print="matMenu">
              <button mat-menu-item>Print & Marketing</button>
              <button mat-menu-item [matMenuTriggerFor]="stationary">STATIONERY & CORPORATE IDENTITY</button>
              <button mat-menu-item [matMenuTriggerFor]="seals">Seals</button>
              <button mat-menu-item>Voucher Books</button>
              <button mat-menu-item [matMenuTriggerFor]="brochures">Brochures & Flyers</button>
              <button mat-menu-item>Hang Tags</button>
              <button mat-menu-item [matMenuTriggerFor]="crowd">Crowd Promotions</button>
              <button mat-menu-item [matMenuTriggerFor]="stickers">Stickers</button>
            </mat-menu>
            <mat-menu #vertebrates="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="stationary">Fishes</button>
              <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
              <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
              <button mat-menu-item>Birds</button>
              <button mat-menu-item>Mammals</button>
            </mat-menu>
            <!-- #enddocregion sub-menu -->

            <mat-menu #invertebrates="matMenu">
              <button mat-menu-item>Insects</button>
              <button mat-menu-item>Molluscs</button>
              <button mat-menu-item>Crustaceans</button>
              <button mat-menu-item>Corals</button>
              <button mat-menu-item>Arachnids</button>
              <button mat-menu-item>Velvet worms</button>
              <button mat-menu-item>Horseshoe crabs</button>
            </mat-menu>

            <mat-menu #stationary="matMenu">
              <button mat-menu-item>BUSINESS CARDS</button>
              <button mat-menu-item>LETTERHEADS</button>
              <button mat-menu-item>ENVELOPES</button>
              <button mat-menu-item>FOLDERS</button>
              <button mat-menu-item>NOTEPADS</button>
              <button mat-menu-item>Notebook & Journal</button>
              <button mat-menu-item>Binding</button>
              <button mat-menu-item>Thank you Card</button>
              <button mat-menu-item>Certificates</button>
              <button mat-menu-item>Calendars</button>
            </mat-menu>

            <mat-menu #seals="matMenu">
              <button mat-menu-item>Self Ink Stamps</button>
              <button mat-menu-item>Wax Seal</button>
              <button mat-menu-item>Embossing Seal</button>
            </mat-menu>
            
            <mat-menu #brochures="matMenu">
              <button mat-menu-item>Brochures</button>
              <button mat-menu-item>Flyers</button>
              <button mat-menu-item>Booklets & Catalogues</button>
            </mat-menu>
            
            <mat-menu #crowd="matMenu">
              <button mat-menu-item>Compliment Slips</button>
              <button mat-menu-item>Tickets & Coupons</button>
              <button mat-menu-item>Scratch & Win Coupons</button>
              <button mat-menu-item>Tent Cards</button>
            </mat-menu>
            
            <mat-menu #stickers="matMenu">
              <button mat-menu-item>Die Cut Sticker</button>
              <button mat-menu-item>Print & Cut sticker</button>
              <button mat-menu-item>Paper Sticker Gloss / Matt</button>
              <button mat-menu-item>Transparent Sticker</button>
              <button mat-menu-item>PVC White Sticker</button>
              <button mat-menu-item>White Ink Sticker</button>
              <button mat-menu-item>Epoxy sticker</button>
              <button mat-menu-item>Windshield sticker</button>
              <button mat-menu-item>Foil Sticker</button>
              <button mat-menu-item>Embossing seal sticker</button>
              <button mat-menu-item>Helmet Sticker</button>
              <button mat-menu-item>Kraft Paper Sticker</button>  
            </mat-menu>

            <mat-menu #amphibians="matMenu">
              <button mat-menu-item>Sonoran desert toad</button>
              <button mat-menu-item>Western toad</button>
              <button mat-menu-item>Arroyo toad</button>
              <button mat-menu-item>Yosemite toad</button>
            </mat-menu>

            <mat-menu #reptiles="matMenu">
              <button mat-menu-item>Banded Day Gecko</button>
              <button mat-menu-item>Banded Gila Monster</button>
              <button mat-menu-item>Black Tree Monitor</button>
              <button mat-menu-item>Blue Spiny Lizard</button>
              <button mat-menu-item disabled>Velociraptor</button>
            </mat-menu>

          </li>

          <!-- <li class="nav-item">
            <a href="" class="nav-link">
              Gallery
            </a>
          </li> -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Shop
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li class="dropdown-item dropdown">
                <a class="dropdown-toggle" role="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">Shop By Category</a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mx-4" aria-labelledby="dropdownMenuButton2">
                  <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/Category/Ceiling">Ceiling</a></li>
                  <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/Category/Wall">Wall</a></li>
                  <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/Category/Floor">Floor</a></li>
                  <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/Category/Absorber">Absorber</a></li>
                  <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/Category/Diffuser">Diffuser</a></li>
                </ul>
              </li>
              <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/Sound-Proof">Sound Proof</a></li>
              <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/Acoustic-Treatment">Acoustic Treatment</a></li>
            </ul>
          </li>






          <!-- <li class="nav-item">
            <a routerLink="Booking" class="nav-link">
             Booking for site visit
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="Testimonial" class="nav-link">
             Testimonial
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Media
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="News">News</a></li>
              <li><a class="dropdown-item" routerLink="Blog">Blog</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Clientele</a>
          </li> -->
          <li class="nav-item" (click)="toggleMenu()">
            <a routerLink="Gallery" class="nav-link">
              Gallery
            </a>
          </li>
          <li class="nav-item" (click)="toggleMenu()">
            <a class="nav-link" routerLink="Contact">contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
