<nav class="navbar navbar-expand-lg " [@slideInOut]>
    <div class="container">
      <a class="navbar-brand" (click)="goToHome()"> <img src="../../../assets/img/logo/Digitize-Logo-svg.svg" alt=""></a>
      <button class="navbar-toggler" type="button" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav" [class.show]="isMenuOpen">
        <ul class="navbar-nav mr-auto navbar-right">
          <!-- <li class="nav-item">
            <a class="nav-link" (click)="goToHome()" href="#" (click)="toggleMenu()">Home</a>
          </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Saohkha Acoustics
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"routerLink="Soundproofing-And-Acoustic-Treatment">Soundproofing & Acoustic Treatment</a></li>
            <li><a class="dropdown-item"routerLink="Areas">Areas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="Expertise">Expertise</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Soundproofing & Acoustic Treatment</a>
        </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Areas</a>
          </li> -->

          <!-- <li  class="nav-item">
            <a routerLink="Consultation-Installation" class="nav-link">A/V Consultation & Installation</a>
          </li> -->
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Print & Marketing
            </a> -->
            <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" [matMenuTriggerFor]="print">Print & Marketing</a>
            <!-- <mat-menu #print="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
              <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
            </mat-menu> -->
            <mat-menu #print="matMenu">


              <button mat-menu-item [matMenuTriggerFor]="stationary">Stationary & Corporate Identity Stationary</button>
              <button mat-menu-item [matMenuTriggerFor]="seals">Seals</button>
              <button mat-menu-item (click)="navigate('/voucher')">Voucher Books</button>
              <button mat-menu-item [matMenuTriggerFor]="brochures">Brochures & Flyers</button>
              <button mat-menu-item (click)="navigate('/hang-tag')">Hang Tags</button>
              <button mat-menu-item [matMenuTriggerFor]="crowd">Promo Print</button>
              <button mat-menu-item [matMenuTriggerFor]="stickers">Stickers</button>
            </mat-menu>

            <!-- #enddocregion sub-menu -->



            <mat-menu #stationary="matMenu">
              <button mat-menu-item (click)="navigate('/business-cards')">Business Cards</button>
              <button mat-menu-item (click)="navigate('/letter-heads')">Letterheads</button>
              <button mat-menu-item (click)="navigate('/envelopes')">Envelopes</button>
              <button mat-menu-item (click)="navigate('/folders')">Folders</button>
              <button mat-menu-item (click)="navigate('/notepads')"> Notepads</button>
              <button mat-menu-item (click)="navigate('/notebooks')">Notebook & Journal</button>
              <button mat-menu-item (click)="navigate('/binding')">Binding</button>
              <button mat-menu-item (click)="navigate('/thanks')">Thank you Card</button>
              <button mat-menu-item (click)="navigate('/certificates')">Certificates</button>
              <button mat-menu-item (click)="navigate('/calendars')">Calendars</button>
            </mat-menu>

            <mat-menu #seals="matMenu">
              <button mat-menu-item (click)="navigate('/selfink-stamps')">Self Ink Stamps</button>
              <button mat-menu-item (click)="navigate('/wax-seal')" >Wax Seal</button>
              <button mat-menu-item (click)="navigate('/embossing-seal')" >Embossing Seal</button>
            </mat-menu>

            <mat-menu #brochures="matMenu">
              <button mat-menu-item (click)="navigate('/brochures')">Brochures</button>
              <button mat-menu-item (click)="navigate('/flyers')">Flyers</button>
              <button mat-menu-item (click)="navigate('/booklets')">Booklets & Catalogues</button>
            </mat-menu>

            <mat-menu #crowd="matMenu">
              <button mat-menu-item (click)="navigate('/compliment-slips')">Compliment Slips</button>
              <button mat-menu-item (click)="navigate('/Tickets-Coupons')">Tickets & Coupons</button>
              <button mat-menu-item (click)="navigate('/Coupons')">Scratch & Win Coupons</button>
              <button mat-menu-item (click)="navigate('/Tent-Cards')">Tent Cards</button>
            </mat-menu>

            <mat-menu #stickers="matMenu">
              <button mat-menu-item (click)="navigate('/die-cut')">Die Cut Sticker</button>
              <button mat-menu-item (click)="navigate('/print-cut')">Print & Cut sticker</button>
              <button mat-menu-item (click)="navigate('/sticker-gloss')">Paper Sticker Gloss / Matt</button>
              <button mat-menu-item (click)="navigate('/transparent')">Transparent Sticker</button>
              <button mat-menu-item (click)="navigate('/pvcwhite')">PVC White Sticker</button>
              <!-- <button mat-menu-item (click)="navigate('/whiteink')">White Ink Sticker</button> -->
              <button mat-menu-item (click)="navigate('/epoxy')">Epoxy sticker</button>
              <button mat-menu-item (click)="navigate('/wind-shield')">Windshield sticker</button>
              <button mat-menu-item (click)="navigate('/foil')">Foil Sticker</button>
              <button mat-menu-item (click)="navigate('/embossingseal')">Embossing seal sticker</button>
              <!-- <button mat-menu-item (click)="navigate('/helmet')">Helmet Sticker</button> -->
              <!-- <button mat-menu-item (click)="navigate('/kraftpaper')">Kraft Paper Sticker</button> -->
            </mat-menu>

            <!--  -->

          </li>

          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Print & Marketing
            </a> -->
            <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" [matMenuTriggerFor]="office">Office & Store Branding</a>
            <mat-menu #office="matMenu">
              <!-- <button mat-menu-item>Office & Store Branding</button> -->
              <button mat-menu-item [matMenuTriggerFor]="frosted">Frosted Sticker</button>
              <button mat-menu-item [matMenuTriggerFor]="window">Window Branding</button>
              <button mat-menu-item  (click)="navigate('/floor-stickers')">Floor Sticker</button>
              <button mat-menu-item [matMenuTriggerFor]="wallBranding">Wall Branding</button>
              <button mat-menu-item [matMenuTriggerFor]="wallFrames">Wall Frames</button>
              <button mat-menu-item  (click)="navigate('/posters')">Posters</button>
              <!-- <button mat-menu-item  (click)="navigate('/repositionable')">Repositionable Cling</button> -->
              <!-- <button mat-menu-item [matMenuTriggerFor]="vehicle">Vehicle Graphics</button> -->
              <button mat-menu-item (click)="navigate('/magnetic')">Magnetic Sheet</button>
              <button mat-menu-item (click)="navigate('/ceremonial')">Ceremonial ribbon</button>

            </mat-menu>

            <mat-menu #frosted="matMenu">
              <button mat-menu-item routerLink="/Frosted-Sticker" fragment="ReverseCut" >Reverse Cut Frosted sticker</button>
              <button mat-menu-item [routerLink]="['/Frosted-Sticker']" fragment="Standard-Cut">Standard Cut Frosted sticker</button>
              <button mat-menu-item [routerLink]="['/Frosted-Sticker']"  fragment="Printed-Frosted" >Printed Frosted sticker</button>
              <button mat-menu-item [routerLink]="['/Frosted-Sticker']"  fragment="Blank-Frosted">Blank Frosted sticker</button>

            </mat-menu>

            <mat-menu #window="matMenu">
              <button mat-menu-item (click)="navigate('/Window-Vinyl')">Window Vinyl Lettering</button>
              <button mat-menu-item (click)="navigate('/Window-Graphics')">Window Graphics</button>
              <button mat-menu-item (click)="navigate('/OneWay-Vision')">One Way Vision Sticker</button>
              <button mat-menu-item (click)="navigate('/Window-Films')">Window Films</button>

            </mat-menu>

            <mat-menu #wallBranding="matMenu">
              <button mat-menu-item (click)="navigate('/Wall-Vinyl')">Wall Vinyl Lettering</button>
              <button mat-menu-item (click)="navigate('/Wall-Graphics')">Wall Graphics</button>

            </mat-menu>

            <mat-menu #wallFrames="matMenu">
              <button mat-menu-item (click)="navigate('/Canvas')">Canvas</button>
              <button mat-menu-item (click)="navigate('/Wooden')">Wooden</button>
              <button mat-menu-item (click)="navigate('/Acrylic')">Acrylic</button>
              <button mat-menu-item (click)="navigate('/MetalArt')">Metal Art</button>

            </mat-menu>

            <mat-menu #vehicle="matMenu">
              <button mat-menu-item (click)="navigate('/vehicle-graphics')">Car Door</button>
              <button mat-menu-item (click)="navigate('/Half-Wrap-Vehicle')">Half Wrap Vehicle</button>
              <button mat-menu-item (click)="navigate('/Van-Branding')">Van Branding</button>

            </mat-menu>

          </li>

          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Print & Marketing
            </a> -->
            <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" [matMenuTriggerFor]="signages">Signages</a>
            <mat-menu #signages="matMenu">
              <!-- <button mat-menu-item>All Signages</button> -->
              <button mat-menu-item [matMenuTriggerFor]="indoor3D">3D Indoor / Outdoor Signage</button>
              <button mat-menu-item [matMenuTriggerFor]="signBoard">Sign Board</button>
              <button mat-menu-item [matMenuTriggerFor]="lightBox">Light Box Signages</button>
              <button mat-menu-item [matMenuTriggerFor]="direction">Direction / Wayfinding Signage</button>
              <button mat-menu-item [matMenuTriggerFor]="selfStanding">Self Standing Letters</button>
              <button mat-menu-item [matMenuTriggerFor]="namePlate">Name Plate</button>
              <button mat-menu-item [matMenuTriggerFor]="labels">Labels</button>

            </mat-menu>

            <mat-menu #indoor3D="matMenu">
              <button mat-menu-item (click)="navigate('/Unlit3D')">Unlit 3D Signage</button>
              <button mat-menu-item (click)="navigate('/Frontlit3D')">Frontlit 3D Signage</button>
              <button mat-menu-item (click)="navigate('/Backlit3D')">Backlit 3D Signage</button>
              <button mat-menu-item (click)="navigate('/Outlit3D')">Outlit 3D Signage</button>
              <button mat-menu-item (click)="navigate('/PushThrough3D')">Push Through 3D Signage</button>
              <button mat-menu-item (click)="navigate('/Neon3D')">Neon 3D Signage</button>

            </mat-menu>

            <mat-menu #signBoard="matMenu">
              <button mat-menu-item (click)="navigate('/FlexFace')">Flex Face Sign Board</button>
              <button mat-menu-item (click)="navigate('/Frontlit3D')">Frontlit 3D Sign Board</button>
              <button mat-menu-item (click)="navigate('/Backtlit3D')">Backtlit 3D Sign Board</button>
              <button mat-menu-item (click)="navigate('/PushThrough')">Push Through Sign Board</button>
              <button mat-menu-item (click)="navigate('/Neon')">Neon Sign Board</button>

            </mat-menu>

            <mat-menu #lightBox="matMenu">
              <button mat-menu-item (click)="navigate('/FlexFace-LightBox')">Flex Face Light Box</button>
              <button mat-menu-item (click)="navigate('/Fabric')">Fabric Light Box</button>
              <button mat-menu-item (click)="navigate('/Acrylic')">Acrylic Light Box</button>
              <button mat-menu-item (click)="navigate('/Poster')">Poster Light Box</button>

            </mat-menu>

            <mat-menu #direction="matMenu">
              <button mat-menu-item (click)="navigate('/SelfStanding')">Self-Standing Signage</button>
              <button mat-menu-item (click)="navigate('/WallMounted')">Wall Mounted Signage</button>
              <button mat-menu-item (click)="navigate('/Hanging')">Hanging Signage</button>
              <button mat-menu-item (click)="navigate('/Directory')">Directory Signage</button>

            </mat-menu>
            <mat-menu #selfStanding="matMenu">
              <button mat-menu-item (click)="navigate('/Metal')">Metal Letters</button>
              <button mat-menu-item (click)="navigate('/Wooden')">Wooden Letters</button>
              <button mat-menu-item (click)="navigate('/AcrylicLetters')">Acrylic Letters</button>
              <button mat-menu-item (click)="navigate('/ForexFoam')">Forex / Foam Letters</button>

            </mat-menu>

            <mat-menu #namePlate="matMenu">
              <button mat-menu-item (click)="navigate('/MetalPlates')">Metal Name Plates</button>
              <button mat-menu-item (click)="navigate('/AcrylicPlates')">Acrylic Name Plates</button>
              <button mat-menu-item (click)="navigate('/WoodenPlates')">Wooden Name Plates</button>
              <button mat-menu-item (click)="navigate('/TableTopPlates')">Table Top Plates / Sign</button>

            </mat-menu>

            <mat-menu #labels="matMenu">
              <button mat-menu-item (click)="navigate('/TraffolytePVCAcrylic')">Traffolyte / PVC / Acrylic Labels</button>
              <button mat-menu-item (click)="navigate('/MetalLabels')">Metal Labels</button>
              <button mat-menu-item (click)="navigate('/WoodenLabels')">Wooden Labels</button>
              <button mat-menu-item (click)="navigate('/AcrylicLabels')">Acrylic Labels</button>

            </mat-menu>

          </li>
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Print & Marketing
            </a> -->
            <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" [matMenuTriggerFor]="flags">Flags</a>
            <mat-menu #flags="matMenu">
              <!-- <button mat-menu-item>All Flags</button> -->
              <button mat-menu-item [matMenuTriggerFor]="advertisingFlags">Advertising Flags</button>
              <button mat-menu-item [matMenuTriggerFor]="decorativeFlags">Decorative Flags</button>
              <button mat-menu-item [matMenuTriggerFor]="handheldFlags">Handheld Flags</button>
              <button mat-menu-item [matMenuTriggerFor]="outdoorFlags">Outdoor Flags</button>
              <button mat-menu-item [matMenuTriggerFor]="officeFlags">Office Flags</button>
              <button mat-menu-item (click)="navigate('/advertisingflags/flag-base')">Flag Base</button>

            </mat-menu>

            <mat-menu #advertisingFlags="matMenu">
              <button mat-menu-item (click)="navigate('/SailFlags')">Sail Flags</button>
              <button mat-menu-item (click)="navigate('/TearDropFlags')">Tear Drop Flags</button>
              <button mat-menu-item (click)="navigate('/LShapeFlags')">L Shape Flags</button>
              <button mat-menu-item (click)="navigate('/BladeFlags')">Blade Flags</button>
              <button mat-menu-item (click)="navigate('/TelescopicFlags')">Telescopic Flags</button>

            </mat-menu>

            <mat-menu #decorativeFlags="matMenu">
              <button mat-menu-item (click)="navigate('/CarFlags')">Car Flags</button>
              <button mat-menu-item (click)="navigate('/CarDesert')">Car Desert Flags</button>
              <button mat-menu-item (click)="navigate('/Dashboard')">Dashboard Flags</button>
              <button mat-menu-item (click)="navigate('/Pennant')">Pennant Flags</button>
              <button mat-menu-item (click)="navigate('/Bunting')">Bunting Flags</button>
              <button mat-menu-item (click)="navigate('/Toothpick')">Toothpick Flags</button>
            </mat-menu>

            <mat-menu #handheldFlags="matMenu">
              <button mat-menu-item (click)="navigate('/Poleflags')">Pole flags</button>
              <button mat-menu-item (click)="navigate('/Handflags')">Hand flags</button>
              <button mat-menu-item (click)="navigate('/FinishLine')">Finish Line</button>
              <button mat-menu-item (click)="navigate('/BodyFlags')">Body Flags</button>
              <button mat-menu-item (click)="navigate('/FanScarf')">Fan Scarf</button>
            </mat-menu>

            <mat-menu #outdoorFlags="matMenu">
              <button mat-menu-item (click)="navigate('/Hoisting')">Hoisting Flags</button>
              <button mat-menu-item (click)="navigate('/WallMounted')">Wall Mounted Flags</button>
              <button mat-menu-item (click)="navigate('/Stadium')">Stadium flags</button>
              <button mat-menu-item (click)="navigate('/Advertising')">Advertising Flags</button>
              <button mat-menu-item (click)="navigate('/Festival')">Festival Flags</button>
            </mat-menu>

            <mat-menu #officeFlags="matMenu">
              <button mat-menu-item (click)="navigate('/TableFlags')">Table Flags</button>
              <button mat-menu-item (click)="navigate('/TableFlagsRoyal')">Table Flags - Royal</button>
              <button mat-menu-item (click)="navigate('/ConferenceFlags')">Conference Flags</button>
              <button mat-menu-item (click)="navigate('/ConferenceFlagsHanging')">Conference Flags - Hanging</button>
            </mat-menu>
          </li>

          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Print & Marketing
            </a> -->
            <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" [matMenuTriggerFor]="Backdrops">Backdrops & Exhibition </a>
            <mat-menu #Backdrops="matMenu">
              <!-- <button mat-menu-item>ALL BACKDROPS</button> -->
              <button mat-menu-item [matMenuTriggerFor]="popupsRollups">Popups, Rollups & Banners</button>
              <button mat-menu-item [matMenuTriggerFor]="backdropsStandees">Backdrops & Standees</button>
              <button mat-menu-item [matMenuTriggerFor]="exhibitionEvents">Exhibition & Events</button>
              <button mat-menu-item>Flag Base</button>

            </mat-menu>

            <mat-menu #popupsRollups="matMenu">
              <button mat-menu-item (click)="navigate('/popups')">Pop Ups</button>
              <button mat-menu-item (click)="navigate('/fabric-popups')">Fabric Pop Ups</button>
              <button mat-menu-item (click)="navigate('/rollup-banners')">Rollup Banners</button>
              <button mat-menu-item (click)="navigate('/x-banners')">X Banners</button>
              <button mat-menu-item (click)="navigate('/banners-flex')">Banners-Flex & Fabric</button>
              <button mat-menu-item (click)="navigate('/fence-banners')">Fence Banners </button>
              <button mat-menu-item (click)="navigate('/lama-stand')">Lama Stand </button>

            </mat-menu>
            <mat-menu #backdropsStandees="matMenu">
              <button mat-menu-item (click)="navigate('/wooden-backdrop')">Wooden Backdrop </button>
              <button mat-menu-item (click)="navigate('/repeat-backdrop')">Step & Repeat Backdrop </button>
              <button mat-menu-item (click)="navigate('/backdrop-indoor')">Fabric Backdrop - Indoor </button>
              <button mat-menu-item (click)="navigate('/backdrop-outdoor')">Fabric Backdrop - Outdoor </button>
              <button mat-menu-item (click)="navigate('/popout-banner')">Popout Banner / Spring A Board </button>
              <button mat-menu-item (click)="navigate('/toblerone-frame')">Toblerone Frame </button>
              <button mat-menu-item (click)="navigate('/cutout-standee')">Cutout Standee </button>

            </mat-menu>

            <mat-menu #exhibitionEvents="matMenu">
              <button mat-menu-item (click)="navigate('/promotion')">Promotion Table </button>
              <button mat-menu-item (click)="navigate('/exhibition-counter')">Exhibition Counters </button>
              <button mat-menu-item (click)="navigate('/tent-canopy')">Tent / Canopy / Gazebo </button>
              <button mat-menu-item (click)="navigate('/parasol-umbrella')">Parasol Umbrella </button>
              <button mat-menu-item (click)="navigate('/cover-cloth')">Table Cover & Table Cloth </button>
              <button mat-menu-item (click)="navigate('/media-frame')">Social Media Frame </button>
              <button mat-menu-item (click)="navigate('/foam-board')">Foam Board </button>
              <button mat-menu-item (click)="navigate('/shell-scheme')">Shell Scheme Booth Branding </button>

            </mat-menu>

            </li>

            <li class="nav-item dropdown">
              <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Print & Marketing
              </a> -->
              <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" [matMenuTriggerFor]="corporateGifts">Corporate Gifts & Bags </a>
              <mat-menu #corporateGifts="matMenu">
                <!-- <button mat-menu-item>All Corporate Gifts & Bags</button> -->
                <button mat-menu-item [matMenuTriggerFor]="officeEssentials">Office Essentials</button>
                <button mat-menu-item [matMenuTriggerFor]="apparel">Apparel</button>
                <button mat-menu-item [matMenuTriggerFor]="tradeShows">Trade Shows & Events</button>
                <button mat-menu-item [matMenuTriggerFor]="Drinkware">Drinkware</button>
                <button mat-menu-item [matMenuTriggerFor]="shoppingPromotional">Shopping/Promotional Bags</button>

              </mat-menu>
              <mat-menu #officeEssentials="matMenu">
                <button mat-menu-item (click)="navigate('/Pens')">Pens</button>
                <button mat-menu-item (click)="navigate('/PUNotebooks')">PU Notebooks</button>
                <button mat-menu-item (click)="navigate('/PUOrganizer')">PU Organizer</button>
                <button mat-menu-item (click)="navigate('/MousePad')">Mouse Pad</button>

              </mat-menu>
              <mat-menu #apparel="matMenu">
                <button mat-menu-item (click)="navigate('/TShirt')">T-Shirt</button>
                <button mat-menu-item (click)="navigate('/Jersey')">Jersey</button>
                <button mat-menu-item (click)="navigate('/Caps')">Caps</button>
                <!-- <button mat-menu-item (click)="navigate('/NeckTie')">Neck Tie</button> -->
                <button mat-menu-item (click)="navigate('/SafetyVest')">Safety Vest</button>

              </mat-menu>

              <mat-menu #tradeShows="matMenu">
                <button mat-menu-item (click)="navigate('/Wristband')">Wristband</button>
                <button mat-menu-item (click)="navigate('/NameBadges')">Name Badges</button>
                <button mat-menu-item (click)="navigate('/Lanyards')">Lanyards</button>
                <button mat-menu-item (click)="navigate('/IDCardsBadgeReel')">ID Cards & Badge Reel</button>
                <button mat-menu-item (click)="navigate('/Keychain')">Keychain</button>
                <button mat-menu-item (click)="navigate('/USB')">USB</button>

              </mat-menu>

              <mat-menu #Drinkware="matMenu">
                <button mat-menu-item (click)="navigate('/Mugs')">Mugs</button>
                <button mat-menu-item (click)="navigate('/Bottles')">Bottles</button>
                <button mat-menu-item (click)="navigate('/Tumblers')">Tumblers</button>

              </mat-menu>

              <mat-menu #shoppingPromotional="matMenu">
                <button mat-menu-item (click)="navigate('/Paperbag')">Paper bag</button>
                <button mat-menu-item (click)="navigate('/Kraftbag')">Kraft bag</button>
                <button mat-menu-item (click)="navigate('/NonWovenbag')">Non Woven bag</button>
                <button mat-menu-item (click)="navigate('/Jutebag')">Jute bag</button>
                <button mat-menu-item (click)="navigate('/Totebag')">Tote bag</button>
                <button mat-menu-item (click)="navigate('/Canvasbag')">Canvas bag</button>
                <button mat-menu-item (click)="navigate('/Drawstringbag')">Drawstring bag</button>
                <button mat-menu-item (click)="navigate('/CottonStringbag')">Cotton String bag</button>

              </mat-menu>
            </li>
          <li class="nav-item">
            <a  routerLink="/About-us" class="nav-link">
              About Us
            </a>
          </li>








          <!-- <li class="nav-item">
            <a routerLink="Booking" class="nav-link">
             Booking for site visit
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="Testimonial" class="nav-link">
             Testimonial
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Media
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="News">News</a></li>
              <li><a class="dropdown-item" routerLink="Blog">Blog</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Clientele</a>
          </li> -->

          <!-- <li class="nav-item" (click)="toggleMenu()">
            <a class="nav-link" routerLink="Contact">contact us</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
